/* Main Container */
#CI-Main-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px var(--sixth-color);
    border-radius: 0.3rem;
    width: 25vw;
    padding: 10px;
    height: 600px;
    background-color: rgb(255, 255, 255);

  }
  
  /* Inner Container */
  #CI-Inner-Container {
    margin-left: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
  }
  
  /* Title and Sub-Title */
  #CI-Title {
    color: var(--Main-Title-Color);
    font-size: 2rem;
    font-family: "Comfortaa", cursive;
  }
  
  #CI-Sub-Title {
    color: var(--sixth-color);
    font-family: "Comfortaa", cursive;
    margin-top: 1rem;
  }
  
  #CI-Sub-P {
    color: var(--sixth-color);
    font-family: "Comfortaa", cursive;
    margin: 0;
  }
  
  /* Image Container */
  #CI-Image-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  #CI-Image {
    background-image: url("../../../Images/Tandanlaget-face.png");
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    height: 250px;
    width: 400px;
  }
  
  /* Responsive Layout */
  
  /* Adjust for screens below 768px */
  @media (max-width: 768px) {
    #CI-Main-Container {
    width: 250px; /* Full width */
    height: auto; /* Adjust height dynamically */
    box-shadow: none; /* Remove shadow for simplicity */
    border-radius: 4px;
    }

    #CI-Inner-Container {
      margin-left: 0;
      width: 90%; /* Expand inner container */
    }
  
    #CI-Image-Container {
      margin-top: 1rem;
    }
  
    #CI-Image {
      background-image: url("../../../Images/Tandanlaget-face.png");
      background-size: cover;
      background-position: center;
      border-radius: 10%;
      height: 10rem;
      width: 20rem;
    }
  }
  
  /* Adjust for screens below 480px */
  @media (max-width: 480px) {
    #CI-Main-Container {
      width: 100vw; /* Full width */
      margin: 0;
      margin-top: -3rem;
      margin-bottom: 0;
      
      }
  
    #CI-Title {
      height: 0;
      font-size: 0;
    }
  
    #CI-Sub-Title {
      font-size: 1rem;
    }
  
    #CI-Sub-P {
      font-size: 0.9rem;
    }
  
    #CI-Image {
      background-image: none;
      height: 0;

    }
  }