#Information-Main-Container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    background-color: var(--off-color); /* Light background for better readability */
}

/* Section Layout */
#Information-Section {
    width: 100%;
    max-width: 80%; /* Limit the width for better text readability */
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* Content Section */
#Information-Content-Section {
    width: 100%;
}

/* Content Block */
.Information-Content-Block {
    margin-bottom: 10%;
}

.Information-Content-Block h2 {
    font-size: 2.5rem; /* Larger font size for headings */
    color: var(--sixth-color); /* Main color for headings */
}
.Information-Content-Block p {
    font-size: 1.2rem; /* Larger font size for paragraphs */
    line-height: 1.8; /* Increased line height for easier reading */
    color: var(--sixth-color);

}
@Media (max-width: 480px){


#Information-Main-Container {


  }

  #Information-Section {

    text-align: left; /* Align text for better readability */
  }

  .Information-Content-Block h2 {
    font-size: 2rem; /* Reduce heading size */
  }

  .Information-Content-Block p {
    font-size: 1rem; /* Adjust paragraph size */
  }
}