
#Footer-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10rem;
    background-color: gray;   
    z-index: 4;
}

#Footer-Inner-Container {

}