:root {
  --primary-color: #dbecf4;
  --secondary-color: #cadeed;
  --third-color: #b7d0e1;
  --fourth-color: #91AEC4;
  --fifth-color: #5f84a2;
  --sixth-color: #194569;
  --off-color: #e5d7c9;
  --off-color1: #C8F5EE;
  --Main-Title-Color: rgb(241, 59, 59);
  --Background-Color: #dbecf4;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--Background-Color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
