:root {
  --primary-color: #dbecf4;
  --secondary-color: #cadeed;
  --third-color: #b7d0e1;
  --fourth-color: #91AEC4;
  --fifth-color: #5f84a2;
  --sixth-color: #194569;
  --off-color: #e5d7c9;
  --off-color1: #40E0D0;
}

body, html {
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  overflow: visible; /* Ensure that nothing is clipped or scrolls unexpectedly */
  font-family: 'Roboto', sans-serif; /* Set default font for consistency */
  background: var(--primary-color); /* Apply theme background color */
  color: var(--sixth-color); /* Apply theme text color */
}

