
/*
  * Home
  * Home Id´s start with "Home" followed by a "-" to destiguish from home and not.
*/

#Main-Inner-Container{
    z-index: 1;
    display: flex;
    border-radius: 0 0 3rem 3rem;
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: hidden;
}
#MS-Div-Text {
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
}
#background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
#MS-Div-Text:hover {
  opacity: 0.6;
}

#background-fallback {
  background: url('../../Images/Dental-Care-Fallback.jpg')no-repeat;
  background-size: cover;
  background-position-y: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}