
#CP_Main_Container{
    display: flex;
    position: relative;
    justify-content: right;
    z-index: -1;
    height: 100vh;
    width: 100vw;

}
#CP_Map_Container{
    position: fixed;
    z-index: 0;
    height: 80vh;
    width: 100vw;


}

#Inside_Map_Info{

    position: relative;
    justify-self: right;
    gap: 2rem;
    z-index: 2;
    top: 3rem;
    right: 8rem;
    height: 1rem;
}