
#CP-Main-Container{
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 0;
    height: 80vh;
    width: 100%;
    padding: 0;
}
#CP-Map-Container{
    position: relative;
    z-index: 0;
    height: 80vh;
    width: 100%;

}

#Inside-Map-Info{
    position: absolute;
    justify-self: right;
    z-index: 1;
    top: 3rem;
    right: 8rem;
    height: 1rem;
}

@media (max-width: 768px) {
    #CP-Main-Container{
    }
    #CP-Map-Container{
    }
    #Inside-Map-Info{
        right: 0%;
    }
}