.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  /* Style for navigation menu */
  .navbar__menu {
    display: none;
    flex-direction: column;
    border-radius: 8px;
    height: 20rem;
    transition: transform 0.3s ease;
  }
  
  /* When the hamburger menu is open */
  .navbar__menu--open {
    display: flex;
  }
  
  /* Navigation links */
  .navbar__menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar__menu ul li {
    margin-bottom: 10px;
  }
  
  .navbar__menu ul li a {

    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar__menu ul li a:hover {
    text-decoration: underline;
  }
  
  /* Responsive styling for burger menu icon */
  @media (max-width: 768px) {
    .navbar__menu {
      display: none;
    }
  
    .navbar__menu--open {
      display: flex;
    }
  }