/* Default Header Style */
.Header-Container {
    position: relative;
    transition: all 0.5s ease-in-out;
}



.Main-Page-Header{
    background-color: var(--off-color1);
}

.Other-Page-Header{
    background-color: var(--White-Color);
}

/* Scrolled Header Style */
.Header-Container-Scrolled {
    position: sticky; /* Stick to the top of the viewport */
    top: 0;
    z-index: 1;
    background-color: var(--primary-color); /* Background color for the header */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}
.Normal-Link{
    text-decoration: none;
}
/* Header Links (Default) */
.Normal-Link h2 {
    font-family: "Comfortaa", cursive;
    font-size: 20px;
    color: var(--sixth-color);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    
}
.Scrolled-Link{
    text-decoration: none;
}


/* Header Links (Scrolled) */
.Scrolled-Link h2 {
    font-family: "Comfortaa", cursive;
    font-size: 18px; /* Optional: Smaller font on scroll */
    color: black; /* Change color on scroll */
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

#Burger-Menu {
    display: none;
}

/* Header Inner Container */
#Header-Inner-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33%;
    padding-top: 10px;
    z-index: 1;
}

/* Header Icon */
#Header-Icon {
    font-family: "Comfortaa", cursive;
    font-size: 30px;
    color: var(--Main-Title-Color);
}

/* Header Pages Container */
#Header-Pages-Container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.Normal-Link:hover {
    transform: scale(1.1);
}
.Scrolled-Link:hover {
    transform: scale(1.1);
}

@Media (max-width: 768px) {
    #Header-Inner-Container {
        gap: 15%;
        padding-top: 5px;
    }
}

@Media (max-width:480px){
    #Header-Inner-Container {
        height: 60px;
    }
    #Burger-Menu{
        
        display: block;
        font-size: 30px;
        color: var(--sixth-color);
        position: absolute;
        right: 10px;
        top: 10px;
    }
    #Open a{
        display: block;
    }
    #Closed a{
        display: none;
    }

    

  #Header-Icon {
    font-size: 24px; /* Smaller logo size */
  }

  #Header-Pages-Container {
    z-index: 3;
    position: absolute;
    top: 60px;
    right: 1vw;
  }

  .Normal-Link h2,
  .Scrolled-Link h2 {
    font-size: 16px; /* Smaller font for links */
  }

}