/* Default Header Style */
.Header-Container {
    position: relative;
    transition: all 0.5s ease-in-out;
}

.Main-Page-Header{
    background-color: var(--off-color1);
}

.Other-Page-Header{
    background-color: var(--off-color);
}

/* Scrolled Header Style */
.Header-Container-Scrolled {
    position: sticky; /* Stick to the top of the viewport */
    top: 0;
    z-index: 1;
    background-color: white; /* Background color for the header */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}
.Normal-Link{
    text-decoration: none;
}
/* Header Links (Default) */
.Normal-Link h2 {
    font-family: "Comfortaa", cursive;
    font-size: 20px;
    color: var(--sixth-color);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    
}
.Scrolled-Link{
    text-decoration: none;
}


/* Header Links (Scrolled) */
.Scrolled-Link h2 {
    font-family: "Comfortaa", cursive;
    font-size: 18px; /* Optional: Smaller font on scroll */
    color: black; /* Change color on scroll */
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

/* Header Inner Container */
#Header-Inner-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33%;
    padding: 20px;
    z-index: 1;
}

/* Header Icon */
#Header-Icon {
    font-family: "Comfortaa", cursive;
    font-size: 30px;
    color: var(--Main-Title-Color);
}

/* Header Pages Container */
#Header-Pages-Container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 10rem;
    width: 20rem;
}

.Normal-Link:hover {
    transform: scale(1.1);
}
.Scrolled-Link:hover {
    transform: scale(1.1);
}