/*
 * Home
 * Home Id´s start with "Home" followed by a "-" to distinguish from home and not.
 */
 #Main-Inner-Container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: center; /* Vertically centers the content */
  width: 100vw; /* Fixed width in pixels */
  height: 800px; /* Fixed height in pixels */
  z-index: -2; /* Ensures it stays below other content */
  background-color: var(--off-color1);
  margin: 0 auto; /* Centers container horizontally */
}

#Left-Image {
  
  background-image: url(../../../Images/Hello-Wave.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);
  width: 50%; /* 50% of 1440px */
  height: 100%; /* Matches parent container */
  z-index: -1; /* Make sure it stays visible */
}

#Background-Fallback {
  background: url(../../../../public/Videos/Doctor_Tooth.gif) no-repeat;
  background-size:contain;
  flex: 1; /* Fills remaining space */
  width: 100; /* 50% of 1440px */
  height: 100%;
}

#Middle-Section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the MiddleSection */
  z-index: 2; /* Ensures it is above other content */
  text-align: center; /* Center the text inside the MiddleSection */
  width: 100%; /* Optional: Can adjust width to fit content */
}

/* Media Queries for Responsiveness */
@media (max-width: 1100px) {
  #Main-Inner-Container {
    width: 100vw; /* Adjusts to viewport width */
    height: 70vh; /* Adjusts height proportionally */
  }

  #Left-Image,
  #Background-Fallback {
    width: 50%; /* Fallback to percentage for flexibility */
    height: 100%; /* Keep full height */
  }
}

@media (max-width: 768px) {
  #Main-Inner-Container {
    height: 80vh; /* Adjust height for smaller screens */
  }

  #Left-Image {
    width: 100%; /* Takes full width */
    height: 100%; /* Adjust height for smaller screens */
    background-size: cover;
    background-position: center;
  }
  #Background-Fallback{
    display: none;
  }
  #Middle-Section {
    top: 40%; /* Adjust position */
    left: 50%;
    transform: translate(-50%, -40%);
  }
}

@media (max-width: 480px) {
  #Middle-Section {
    top: 35%; /* Adjust further for very small screens */
    font-size: 14px; /* Reduce font size */
  }
  #Main-Inner-Container{

    height: 600px;
  }
}