:root {
    --primary-color: #dbecf4;
    --secondary-color: #cadeed;
    --third-color: #b7d0e1;
    --fourth-color: #91AEC4;
    --fifth-color: #5f84a2;
    --sixth-color: #194569;
    --off-color: #e5d7c9;
    --off-color1: #40E0D0;
    --Main-Title-Color: rgb(241, 59, 59);
  }
  

