#CI-Main-Container{
    display: flex;
    position: relative;
    align-items: center;

    z-index: 2;
    flex-direction: column;
    box-shadow: 0 0 30px var(--sixth-color);
    border-radius: 0.3rem;
    width: 20rem;
    height: 30rem;
    background-color: rgb(255, 255, 255);
}

#CI-Inner-Container {
    margin: 1rem;
    width: 18rem;
    height: 28rem;
    display: flex;
    flex-direction: column;

    align-items: center;
    border-radius: 0.3rem;
}

#CI-Secound-Container,
#CI-Third-Container{
    
}

