#CI-Main-Container{
    display: flex;

    z-index: 2;
    flex-direction: column;
    box-shadow: 0 0 30px var(--sixth-color);
    border-radius: 0.3rem;
    width: 20rem;
    height: 30rem;
    background-color: rgb(255, 255, 255);
}

#CI-Inner-Container {
    margin-left: 1rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
}

#CI-Secound-Container,
#CI-Third-Container,
#CI-Fourth-Container{
    display: flex;
    flex-direction: column;
    width: 18rem;
}

#CI-Title{
    font-family: "Comfortaa", cursive;
}