#Carousel-Main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, transparent,rgba(55,55,55,0.8), rgb(55,55,55),rgba(55,55,55,0.8), transparent);
    z-index: 0;
}

#Carousel-Inner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    gap: 1rem;
}

#Carousel-Item{
    text-decoration: none;

    background-position: center;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.875);
    color: rgb(60, 60, 60);
    z-index: -2;

    opacity: 0.5;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#Carousel-Item-Active{

}

#Carousel-Prev{
    position: absolute;
    top: 50%;
    padding: 1rem;
    left: 10%;
    transform: translateY(-50%);
    transform: scale(2);
    font-size: 2rem;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;

}

#Carousel-Next{
    position: absolute;
    top: 50%;
    right: 10%;
    padding: 1rem;
    transform: translateY(-50%);
    transform: scale(2);
    font-size: 2rem;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    
}
